[submodule "Dependencies/glaze"]
	path = Dependencies/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/GLFW"]
	path = Dependencies/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest.git
	branch = v1.17.x
